{% extends "base.html" %}

{% block content %}
    <h1>Search Result</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Account Name</th>
          <th scope="col">Account Id</th>
          <th scope="col">Subscription Level</th>
          <th scope="col">Ticket count</th>
        </tr>
      </thead>
    {% for item in customer_list %}
    <tbody>
      <tr>
        <th scope="row">
          {{item.get('name')}}
        </th>
        <td>
          {{item.get('id')}}
        </td>
        <td>
          {{item.get('custom_fields')['anaconda_subscription_level']}}
        </td>
        <td>
          {{item.get('ticket_count')}}
        </td>
      </tr>
    </tbody>
    {% endfor %}
</form>
{% endblock %}
